@font-face {
  font-family: "Aaatord";
  src: url("./fonts/aaatord.ttf");
}

@font-face {
  font-family: "Aniron";
  src: url("./fonts/aniron.ttf");
}

@font-face {
  font-family: "New Baskerville";
  src: url("./fonts/newbaskervillebold.ttf");
}

@font-face {
  font-family: "Niveau Grotesk";
  src: url("./fonts/niveaugroteskregular.otf");
}

@font-face {
  font-family: "Kereru";
  src: url("./fonts/kererubold.woff");
}

.sheet.journal-entry .journal-entry-content {
  background: url("./background.webp");
}

.journal-sheet .journal-header .title {
  font-family: "Aniron";
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  font-size: 26px;
}

.journal-entry-page h1 {
  font-family: "Aniron";
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #5D5040;
  padding-left: 3px;
  border: none;
}

.journal-entry-page h2 {
  font-family: "Aniron";
  font-size: 22px;
  font-weight: bold;
  color: #AC473D;
  padding-left: 3px;
  border: none;
}

.journal-entry-page h3 {
  font-family: "New Baskerville";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #5D5040;
  padding-left: 3px;
  border: none;
}

.journal-entry-page h4 {
  font-family: "Niveau Grotesk";
  font-size: 15px;
  font-weight: bold;
  color: #AC473D;
  padding-left: 3px;
  border: none;
  text-transform: uppercase;
}

.onering-mod p {
  font-family: "New Baskerville";
  font-size: 16px;
  font-style: normal;
  text-indent: 0.2cm;
  text-align: justify;
  padding: 3px 10px 3px 10px;
}

.onering-mod .encart-tech {
  font-family: "Niveau Grotesk";
  font-size: 16px;
  text-indent: 0.2cm;
  color: #463c30;
  text-align: justify;
  padding: 3px 10px 3px 10px;
}

.onering-mod li {
  font-family: "New Baskerville";
  font-size: 16px;
}

.onering-mod .note {
  padding: 10px 10px 10px 10px;
  border: #AC473D double;
}

.onering-mod .note p {
  font-family: "Niveau Grotesk";
  font-size: 14px;
  text-indent: 0.2cm;
  color: #463c30;
  text-align: justify;
  font-weight: bold;
}


.onering-mod .citation p {
  font-family: "New Baskerville";
  font-size: 16px;
  text-align: justify; 
  color: black;
  font-weight: bold;
  font-style: italic; 
}

.onering-mod .recit p {
  font-family: "Kereru";
  font-size: 26px;
  text-align: justify; 
  color: #AC473D ;
  font-style: italic;
}

.onering-mod .intro p {
  font-family: "New Baskerville";
  font-size: 22px;
  text-align: center; 
  color: #AC473D;
  font-weight: bold;
  font-style: italic; 
}

.onering-mod  blockquote {
  font-family: "New Baskerville";
  font-size: 16px;
  text-align: justify; 
  color: #463c30;
  font-weight: bold;
  font-style: italic;
}

.onering-mod .introcitation p {
  font-family: "New Baskerville";
  font-size: 16px;
  text-align: center; 
  color: #5D5040;
  font-weight: bold;
  font-style: italic; 
}

.onering-mod table th {
  color: #5D5040;
  font-family: "Niveau Grotesk";
  font-size: 15px;
}

.onering-mod .imp {
  font-weight: bold;
  color: #AC473D;
  text-transform: uppercase;
}

.onering-mod .dice {
  font-family: "Aaatord";
  font-size: 18px;
  color: #AC473D;
}

a.content-link, a.inline-roll {
  background: transparent;
  border: 0px;
}

